---
# Security hardening tasks

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Configure fail2ban
  template:
    src: ../templates/fail2ban-jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: Restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: yes
    state: started

- name: Configure UFW - deny incoming by default
  ufw:
    direction: incoming
    policy: deny

- name: Configure UFW - allow outgoing by default
  ufw:
    direction: outgoing
    policy: allow

- name: Allow SSH through UFW
  ufw:
    rule: allow
    port: "22"
    proto: tcp

- name: Allow HTTP through UFW
  ufw:
    rule: allow
    port: "80"
    proto: tcp

- name: Allow HTTPS through UFW
  ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled

- name: Disable SSH password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: Restart sshd

- name: Disable root SSH login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: Restart sshd
